.card-container {
  border: 1px solid var(--darkGreen);
  border-radius: 10px;
  background-color: var(--darkGreen);
  padding: 10px;
  width: 200px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.card-img {
  width: 100%;
  height: auto;
}

.card-heading {
  font-weight: bold;
  font-size: 26px;
}

.card-description {
  font-size: 18px;
  font-weight: 200;
}

.card-button {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--lightGreen);
  background-color: var(--lightGreen);
  font-size: 18px;
  &:hover {
    background-color: var(--darkGreen);
    color: white;
    transition:
      background-color 1s,
      color 1s;
  }
}
