.card-wrapper {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.input-text {
  width: 200px;
  height: 50px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 30px;
  margin-left: 20px;
}

.posts-holder {
  border: 1px solid #edeff2;
  width: 500px;
  height: auto;
  margin-left: 30px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.title {
  font-size: 28px;
  font-weight: bold;
}

.description {
  font-size: 20px;
}
